<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Hue</h1>
<audio id="audio" controls>
    <p>Não funciona</p>
</audio>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>